div#barMain {
	position: fixed;
	border: 1px solid;
	background-color: #E6E6E6;
	width: 800px;
	height: 50px;
	bottom: 3%;	
	left: 0; right: 0;
	margin: auto;
}

div.navSplitter {
	float: left;
	width: 33%;
	height: 100%;
	position: relative;
}

div#navMenu {
	text-decoration: none;
	color: black;
	position: absolute;
	border: 1px solid black;
	left: 0; right: 0; margin: auto;
	background-color: #F3F3F3;
	height: 20px;
	width: 88%;
	bottom: 0px; top: 0px;
	padding: 8px;
	text-align: center;
	font-weight: bold;
	cursor: default;
	overflow: hidden;
}

div#homeButton {
	
}

p#navTitle {
	margin: 1px 0px 0px 0px;
}

ul#navList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#navMenu a {
	text-decoration: none;
	color: #3c578f;	
}

div#searchContainer {
	position: absolute;
	background: url('../images/searchbar.png');
	height: 24px; width: 260px;
	top: 25%;
}

input#searchBar {
	margin-top: 4px;
	margin-left: 26px;
	border: 0;
	width: 226px;
}

p#uname {
	text-align: center;
	font-weight: bold;
	width: 65%;
}

img#gear {
	position: absolute;
	top: 15%;
	right: 20%;
}

img#logout {
	position: absolute;
	top: 15%;
	right: 5%;
}
