script(src = '/barcontrol.js')
div#barMain
	div.navSplitter
		div#navMenu
			p#navTitle Navigation
			br
			ul#navList
				if (sections.length)
					- each sec in sections
						li: a(href='/streams/#{sec.name}') #{sec.name}
				else
					li No Sections Added
					
				li: a(href='/') Home
	div.navSplitter
		div#searchContainer
			input(name='search[query]', id = 'searchBar')
	div.navSplitter
		p#uname #{session.uname}
		a(href='/user/')
			img#gear(src='/images/gear_small.png')
