if (sections.length)
	script
		window.barheight = 18 * #{sections.length};
else
	script
		window.barheight = 220;
	
script(src = '/barcontrol.js')
div#barMain
	div.navSplitter
		div#navMenu
			p#navTitle Navigation
			br
			ul#navList
				if (sections.length)
					- each sec in sections
						li: a(href='/streams/#{sec.name}') #{sec.name}
				else
					li No Sections Added
				
				br

				br
				if (session.type == '1')
					li: a(href='/admin/') Administration	
				li: a(href='/') Home
	div.navSplitter
		div#searchContainer
			input(name='search[query]', id = 'searchBar')
	div.navSplitter
		p#uname #{session.uname}
		a(href='/logout/')	
			img#logout(src='/images/logout.png')
	
