extends layout

block header
	link(rel='stylesheet', href='/Styles/newpost.css')

block content
	div#container
		p#newPostHead New Post
		p#newPostInfo Posting To: #{stream}
		p.noBottomMargin#newPostTitle Title
		form#postForm(method='post')
			input#title(name='post[title]', maxlength='254')
			p.noBottomMargin#newPostBodyText Post Content
			textarea#content(name='post[content]')
			input#submitPost(type='submit', name='post[submit]', value='Submit Post', maxlength = 65635)
